<div class="left_bar">
  <ul class="nav-tabs--vertical nav" role="navigation">
    <li class="nav-item">
      <a href="#lorem" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem">Lorem</a>
    </li>
    <li class="nav-item">
      <a href="#ipsum" class="nav-link" data-toggle="tab" role="tab" aria-controls="ipsum">Ipsum</a>
    </li>
    <li class="nav-item">
      <a href="#dolor" class="nav-link " data-toggle="tab" role="tab" aria-controls="dolor">Dolor</a>
    </li>
    <li class="nav-item">
      <a href="#sit-amet" class="nav-link" data-toggle="tab" role="tab" aria-controls="sit-amet">Sit Amet</a>
    </li>
  </ul>
</div>
