<div class="right_bar">
  <div class="tab-content" *ngIf="company">
    <div class="row">
      <!-- Descripción empresa -->
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">
              <ng-container *ngIf="companyType.name != 'Autonomo'; then autonomousIcon; else companyIcon"></ng-container>
              <ng-template #autonomousIcon><i class="fas fa-building"></i></ng-template>
              <ng-template #companyIcon><i class="fas fa-user-tie"></i></ng-template>
              {{company.name}}
            </h2>
            <p class="card-text">{{company.nif}}</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
        <br/>
        <!-- Propietario -->
        <div class="card">
          <div class="card-header">
            <h5>Propietario</h5>
          </div>
          <div class="card-body">
            <p class="card-text"><i class="fab fa-odnoklassniki fa-2x"></i> {{owner.name}}</p>
            <p class="card-text"><i class="fas fa-at fa-2x"></i> {{owner.email ? owner.email : nulo}} </p>
            <p class="card-text"><i class="fas fa-phone fa-2x"></i> {{owner.phone ? owner.phone : nulo}}</p>
          </div>
        </div>
      </div>
      <!-- Tiendas -->
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs">
              <li *ngFor="let store of stores; index as i">
                <a class="nav-link {{i === 0? 'active' : ''}}" data-toggle="tab" (click)="selectStore(store)">{{store.name}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">+</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <app-detail-store [store]="storeSelected"></app-detail-store>
          </div>
        </div>
        <br/>
        <!-- Notas -->
        <div class="card">
          <div class="card-header">
            <h5>Notas:</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{company.note}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
