<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-user-plus fa-2x" title="Crear"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-user-edit fa-2x" title="Modificar"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-user-times fa-2x" title="Eliminar"></i>
        </a>
      </li>
      <!--<li  class="nav-item dropdown">-->
        <!--<a  class="nav-link dropdown-toggle"  href="#"  id="navbarDropdown"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">-->
          <!--Actions-->
        <!--</a>-->
        <!--<div  class="dropdown-menu"  aria-labelledby="navbarDropdown">-->
          <!--<a  class="dropdown-item" [routerLink]="'/accounts'"> Accounts </a>-->
          <!--<a  class="dropdown-item" [routerLink]="'/create-account'"> Create Account </a>-->
          <!--<div  class="dropdown-divider"></div>-->
          <!--<a  class="dropdown-item" [routerLink]="'/contacts'"> Contacts </a>-->
          <!--<a  class="dropdown-item" [routerLink]="'/create-contact'"> Create Contact </a>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
    <div class="social-part">
      <i class="fas fa-facebook" aria-hidden="true"></i>
      <i class="fas fa-twitter" aria-hidden="true"></i>
      <i class="fas fa-instagram" aria-hidden="true"></i>
    </div>
  </div>
</nav>
