<div class="store_details">
  <div class="operar">
    <i class="fas fa-pen link"></i>&nbsp;
    <i class="fas fa-trash link"></i>
  </div>

  <p class="card-text">
    <i class="fas fa-address-card icon-tam"></i>{{store.address}}, {{population.name}} ({{province.name}}) <br/>
    <i class="fas fa-at icon-tam"></i>{{store.email}} <br/>
    <i class="fas fa-phone icon-tam"></i>{{store.phone}}

  <div class="row-grid-divider"></div>



  <div class="tab-pane fade show active table-wrapper-scroll-y" id="company-1" role="tabpanel">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
